@charset "UTF-8";
.content {
  width: 100%;
  margin-top: 50px;
  padding: 0px 300px;
}
.content .inner {
  justify-content: flex-start;
  flex-direction: column;
}
.content .inner .contentImg {
  width: 100%;
  height: 500px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 3px #ccc;
  margin-bottom: 30px;
}
.content .inner .contentImg .btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.content .inner .contentInfo {
  width: 100%;
  height: 400px;
  font-size: 20px;
}
.content .inner .contentInfo .name {
  font-weight: bold;
}
.content .inner .contentInfo .info1 {
  height: 30px;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.content .inner .contentInfo .info1.explain {
  height: 230px;
}
.content .inner .contentInfo .info1.explain .name {
  margin-bottom: 5px;
}
.content .inner .contentInfo .info1 li {
  height: 100%;
}
.content .inner .contentInfo .info1 li label {
  font-size: 20px;
  margin-right: 10px;
}
.content .inner .contentInfo .info1 li input {
  height: 90%;
  margin-left: 7px;
  margin-right: 7px;
  outline: none;
  padding: 0 5px;
}
.content .inner .contentInfo .info1 li input.petName {
  width: 200px;
}
.content .inner .contentInfo .info1 li input.petDetail {
  width: 400px;
}
.content .inner .contentInfo .info1 li input.place {
  width: 450px;
}
.content .inner .contentInfo .info1 li .btn {
  width: 85px;
  height: 90%;
  font-size: 18px;
}
.content .inner .contentInfo .info1 textarea {
  width: 100%;
  height: 200px;
  resize: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 20px;
}
.content .inner .contentInfo .submit {
  margin-bottom: 30px;
  position: relative;
}
.content .inner .contentInfo .submit .btn {
  width: 300px;
  border: none;
}
.content .inner .contentInfo .submit .btn.list {
  position: absolute;
  right: 0;
  width: 100px;
}
