.memberList {
  width: calc(100vw - 200px);
  height: calc(100vh - 80px);
}
.memberList article {
  width: 50%;
  height: 100%;
  padding: 30px;
  border-right: 1px solid #ccc;
  overflow-y: scroll;
}
.memberList article h2 {
  width: 100%;
  height: 40px;
  font-size: 25px;
  justify-content: flex-start;
}
.memberList article ul {
  width: 100%;
  height: 40px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.memberList article ul.name {
  font-weight: bold;
  background: #F2EFE9;
}
.memberList article ul li {
  width: 16.6666666667%;
  height: 100%;
  border-right: 1px solid #ccc;
}
.memberList article ul li:nth-of-type(1) {
  border-left: 1px solid #ccc;
  width: 18%;
}
.memberList article ul li:nth-of-type(2) {
  width: 22%;
}
.memberList article ul li:nth-of-type(3) {
  width: 20%;
}
.memberList article ul li:nth-of-type(4) {
  width: 10%;
}
.memberList article ul li:nth-of-type(5) {
  width: 15%;
}
.memberList article ul li:nth-of-type(6) {
  width: 15%;
}
.memberList article ul li .btn {
  width: 80%;
  height: 80%;
}

.memberSearch {
  width: calc(100vw - 200px);
  height: calc(100vh - 80px);
}
.memberSearch form {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.memberSearch .infoBox {
  width: 100%;
  height: calc(100% - 60px);
}
.memberSearch .infoBox article {
  width: 33.3333333333%;
  height: 100%;
  padding: 10px;
  border-right: 1px solid #ccc;
}
.memberSearch .infoBox article h2 {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
}
.memberSearch .infoBox article ul {
  width: 100%;
}
.memberSearch .infoBox article ul li {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  justify-content: flex-start;
}
.memberSearch .infoBox article ul li .name {
  height: 100%;
  width: 20%;
  background: #F2EFE9;
  font-weight: bold;
  margin-right: 10px;
}
.memberSearch .infoBox .userComm h2 {
  justify-content: space-between;
}
.memberSearch .infoBox .userComm h2 .box {
  height: 100%;
}
.memberSearch .infoBox .userComm h2 .box .btn {
  width: 60px;
  height: 80%;
  margin-left: 7px;
}
.memberSearch .infoBox .userComm .list {
  width: 100%;
  height: calc(100% - 70px);
  position: relative;
  overflow-y: scroll;
}
.memberSearch .infoBox .userComm .list > li {
  height: 80px;
  margin-bottom: 10px;
}
.memberSearch .infoBox .userComm .list > li ul {
  width: 100%;
  height: 40px;
}
.memberSearch .infoBox .userComm .list > li ul li.name {
  background: #F2EFE9;
}
.memberSearch .infoBox .userComm .list > li ul li {
  border: none;
  border-bottom: 1px solid #ccc;
}
.memberSearch .infoBox .userComm .list > li ul li:nth-of-type(1) {
  width: 50%;
}
.memberSearch .infoBox .userComm .list > li ul li span {
  width: 70%;
}
.memberSearch .infoBox .userComm .list > li ul li .btn {
  width: 60px;
  height: 80%;
  margin-left: 20px;
}
.memberSearch .infoBox .userComm .list > li textarea {
  width: 100%;
  height: 40px;
  resize: none;
  outline: none;
}

.disPost {
  width: calc(100vw - 200px);
  height: calc(100vh - 80px);
  padding: 10px;
}
.disPost h2 {
  width: 100%;
  height: 50px;
  font-size: 25px;
  padding: 0 10px;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.disPost h2 .box {
  height: 100%;
}
.disPost h2 .box .btn {
  width: 60px;
  height: 80%;
  margin-left: 7px;
}
.disPost .list {
  width: 100%;
  height: calc(100% - 50px);
}
.disPost .list ul {
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
}
.disPost .list ul li {
  width: 12.5%;
  height: 100%;
  border-right: 1px solid #ccc;
}
.disPost .list ul li.name {
  background: #F2EFE9;
  font-weight: bold;
}
.disPost .list ul li .btn {
  width: 60px;
  height: 80%;
}
.disPost .list ul li:nth-of-type(1) {
  width: 5%;
}
.disPost .list ul li:nth-of-type(2), .disPost .list ul li:nth-of-type(3), .disPost .list ul li:nth-of-type(5), .disPost .list ul li:nth-of-type(7), .disPost .list ul li:nth-of-type(8) {
  width: 10%;
}
.disPost .list ul li:nth-of-type(4) {
  width: 40%;
  line-height: 40px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.disPost .list ul li:nth-of-type(6) {
  width: 5%;
}

.repoList {
  width: calc(100vw - 200px);
  height: calc(100vh - 80px);
  padding: 10px;
}
.repoList h2 {
  width: 100%;
  height: 50px;
  font-size: 25px;
  justify-content: flex-start;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
.repoList .box {
  width: 100%;
  height: calc(100% - 50px);
}
.repoList .box .report {
  width: 50%;
  height: 100%;
  border-right: 1px solid #ccc;
}
.repoList .box .report h2 {
  font-size: 20px;
}
.repoList .box .report .list {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: scroll;
}
.repoList .box .report .list ul {
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
}
.repoList .box .report .list ul li {
  height: 100%;
  border-right: 1px solid #ccc;
}
.repoList .box .report .list ul li.name {
  background: #F2EFE9;
  font-weight: bold;
}
.repoList .box .report .list ul li .btn {
  width: 80px;
  height: 80%;
  font-size: 16px;
}
.repoList .box .report .list ul li:nth-of-type(1), .repoList .box .report .list ul li:nth-of-type(3), .repoList .box .report .list ul li:nth-of-type(4) {
  width: 20%;
}
.repoList .box .report .list ul li:nth-of-type(2) {
  width: 60%;
}
